<!DOCTYPE html>
<html>
  <head>
    <title>HsDeckBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto' %>
    <%= stylesheet_link_tag 'http://localhost:9000/bundle.css' %>
    <%= javascript_include_tag 'http://localhost:9000/bundle.js', defer: "defer" %>
  </head>

  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
